<!-- <app-company></app-company> -->

<!-- ==========================================================================================
<h2>Routing links</h2> -->

<nav>
    <!-- <a routerLink="">Home</a><br> -->
   <!-- <a routerLink="/course/page">Course</a><br> -->
   <!-- <a routerLink="/stock">Stock</a><br> -->

   <!-- <a [routerLink]="['/company']">Company </a><br><br> -->

   <!-- <a routerLink="/student">Student</a><br>
   <a routerLink="/category">Category</a><br>
   <a routerLink="/register">Register</a><br>
   <a routerLink="/login">Login</a><br>
   <a routerLink="/pipe">Pipe Demo</a><br> -->
</nav>

<div>
    <!-- <button type="button" class="btn btn-success" routerLink="/stock">stock button</button> -->
</div>
<hr>
<br>
<router-outlet></router-outlet>

<!-- <form>
   <input matInput [matDatepicker] = "picker" placeholder = "Choose a date">
   <mat-datepicker-toggle matSuffix [for] = "picker"></mat-datepicker-toggle>
   <mat-datepicker #picker></mat-datepicker>
</form> -->

<!-- <mat-form-field>
    <input matInput [matDatepicker]="myDatePicker">
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  <mat-datepicker #myDatePicker></mat-datepicker>
  
    </mat-form-field> -->
<br>
<!-- <app-stock></app-stock> -->
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>